#invite-page {
  display: none;
}

#receive-invite {
  display: none;
}

#battle-arena {
  display: none;
}

#form-invite > label {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -43%);
}

input#user-id {
  box-shadow: black 0 0 10px 2px;
  border-radius: 0.2em;
  color: #fff;
  height: 2em;
  border: #686868 1px solid;
  background-color: rgb(37, 37, 37);
  transition: all 0.1s ease-in-out;
}

input#user-id:focus {
  box-shadow: rgba(0, 0, 0, 0.553) 0 1em 15px 1px;
  top: 49%;
  border: #969696 1px solid;
  background-color: rgb(47, 47, 47);
}

:-ms-input-placeholder {
  color: #c5c5c5;
}

#user-id > span {
  color: #686868;
}

#accept-invite {
  width: 6.7em;
  height: 2em;
  border-radius: 0.3em;
  color: rgb(231, 231, 231);
  background-color: #5eb83d;
  border: #d5ff957e 1px solid;
  transition: all 0.2s ease-in-out;
}

#accept-invite:hover {
  box-shadow: #0000008e 0 0 15px 0px;
  border: #d5ff95a8 1px solid;
}

#accept-invite:active {
  border: #576d35ec 1px solid;
  background-color: #4c9332;
}

#recuse-invite {
  width: 6.7em;
  height: 2em;
  color: rgb(231, 231, 231);
  border-radius: 0.3em;
  background-color: #c5232b;
  border: #ff959a8a 1px solid;
  transition: all 0.2s ease-in-out;
}

#recuse-invite:hover {
  box-shadow: #0000008e 0 0 15px 0px;
  border: #ff959aab 1px solid;
}

#recuse-invite:active {
  border: #9b598600 1px solid;
  background-color: #932329;
}

#info-battle {
  margin: 0;
  position: absolute;
  left: 49%;
  top: 1em;
  transform: translate(-10%, -50%);
}
